<!--
    This is for the page that displays a blank form or an invalid one
-->

<!--Inherits from the base html file-->
{% extends 'yourdailylog_app/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
  
  <h2>

      <!--Changing the topic name to a link-->
      <a href="{% url 'YourDailyLog_App:topic' topicName.id %}">
        {{ topicName }}
      </a>

  </h2>

{% endblock page_header %}

{% block content %}
  
  <p>
      <h5>
        <b>Create New Entry:</b>
      </h5>
  </p>
  
  <!--
      form action takes the topic id to associate the entry with the correct
      topic
  -->
  <form action="{% url 'YourDailyLog_App:new_entry' topicName.id %}"
                       method="post" class="form">

      {% csrf_token %} <!-- restrict unauthorised access to the server -->
      
      <!--display all fields automatically and in paragraphs-->
      <!-- {{ formForEntry.as_p }} -->

      <!-- Bootstrap styled form -->
      {% bootstrap_form formForEntry %}

      <!-- <button name="Submit">Add This Entry</button> -->

      {% buttons %}

      <button name="Submit" class="btn btn-primary">
        Add This Entry
      </button>

      {% endbuttons %}

  </form>
  
{% endblock content %}