<!--
  This is an individual topic page that shows the various entries that the
  user made. The entries are shown in chronological order along with showing
  the date and time added.
-->

<!--Inherits from the base html file-->
{% extends "yourdailylog_app/base.html" %}

{% block page_header %}

  <h3>
    {{ topicName }}
  </h3>

{% endblock page_header %}

{% block content %}

  <!--
    Including a link to the new_entry page from each topic page
  -->
  <p>
    <a href="{% url 'YourDailyLog_App:new_entry' topicName.id %}">
      Add a new entry here!
    </a>
  </p>

  <!--
    Displaying the entries for the topics in chronological order
  -->
  {% for entry in entries %}

    <!--
      This card has two nested elements - one to hold the timestamp
      and link to edit the entry, and other to hold the body of the
      entry
    -->
    <div class="card mb-3">

      <!--
        This card-header contains the date the entry was made and a
        link to edit the entry
      -->
      <h4 class="card-header">
        
        <b>

          <!--First, display the Day, Date, Time-->
          {{ entry.dateAndTimeAdded|date:'M d, Y H:i' }}

        </b>
          
        &nbsp&nbsp&nbsp&nbsp&nbsp <!-- adding spaces -->

        <!--Makes the link a little smaller than the timestamp-->
        <small>

          <!--To edit the existing entry-->
          <a href="{% url 'YourDailyLog_App:edit_entry' entry.id %}">

            <i>
              Edit This Entry
            </i>
            
          </a>

        </small>

      </h4>

      <!--
        card-body places the text of the entry in a simple box on the card
      -->
      <div class="card-body">

        <!--After each entry give a line break-->
        {{ entry.entryText|linebreaks }}

      </div>

    </div>

  <!--If there are no entries under a particular topic-->  
  {% empty %}

    <p>There are no entries for this topic yet.</p>
    
  {% endfor %}

{% endblock content %}