<!--
  Template for the login page
-->

<!--Inherits from base.html to have the same look and feel as the rest-->
<!--Templates in an app can inherit from templates in another app-->
{% extends "yourdailylog_app/base.html" %}

<!--Loading the bootstrap4 template tags into this template-->
{% load bootstrap4 %}

<!--
  Defining a pageHeader block that tells the user what this page is for

  Also bootstrap4 manages form errors automatically
-->
{% block page_header %}

  <!--Heading of the page-->
  <h2>
    Take Me To My Account
  </h2>

{% endblock page_header %}

{% block content %}

  <form method="post" action="{% url 'Users:login' %}"
        class="form">

    <!--
      Securing the form
    -->
    {% csrf_token %}
    
    <!--
      replaces the {{ formForLogin.as_p }} tag and inserts Bootstrap
      style rules into the form's individual elements as the form is rendered
    -->
    {% bootstrap_form form %}

    <!--Adding Bootstrap styling to buttons-->
    {% buttons %}
      <button name="submit" class="btn btn-primary">
        I'm sure, this is ME!
      </button>
    {% endbuttons %}

    <input type="hidden" name="next"
           value="{% url 'YourDailyLog_App:index' %}" />
  </form>

{% endblock content %}