<!--
  Register page for the new users
-->

{% extends "yourdailylog_app/base.html" %}

{% load bootstrap4 %}

{% block page_header %}

  <h2>
    I'm New Here, Take Me In!
  </h2>

{% endblock page_header %}

{% block content %}

<form method="post" action="{% url 'Users:register' %}" class="form">

  {% csrf_token %} <!--Security-->

  {% bootstrap_form formForRegistration %}
  
  {% buttons %}

    <button name="Submit" class="btn btn-primary">
      Lessgoo!!!
    </button>

  {% endbuttons %}

  <input type="hidden" name="next"
           value="{% url 'YourDailyLog_App:index' %}" />
           
  </form>

{% endblock content %}