<!--
  This is a customised 500 error page that will be shown when there's an error
  in the code written by the programmer
-->

{% extends 'yourdailylog_app/base.html' %}

{% block page_header %}
  <h2>

    <b>
      <p>
        500 - Page not working
      </p>
    </b>

    <p>There has been an internal issue. Sorry for the inconvinience.</p>
    <p>
      Contact the owner of the site and let them know about the issue:
        <li>
          akash2001parida@gmail.com
        </li>
        <li>
          WhatsApp - 7250794009
        </li>
      
    </p>
    <p>Thank You! This will be fixed soon!</p>
    
  </h2>
{% endblock page_header %}